{% extends "admin/base.html" %}
{% load i18n %}

{% block extrastyle %}
	<link rel="stylesheet" type="text/css" href="/media/css/table.css" />
{% endblock %}


{% load currency %}

{% block content %}
<!---{% regroup actual_list by campaign as campaign_items %} -->


<table>
<tr>
	<th> Campaign Name </th>
	
{% for date_item in date_list %}
<th> {{ date_item|date:'M-y'}} </th>
{% endfor %}
</tr>
{% for rev_obj in obj_list %}  
  <tr>
    <td><a href="/admin/finance/campaign/{{ rev_obj.id }}/">{{ rev_obj.name }}</a></td>
    {% for rev in rev_obj.rev_list %}
    	<td align="right">
    		{% if rev != 0 %}
          		{{ rev|currency }}
          	{% endif %}
    	</td>
    {% endfor %}
  </tr>
{% endfor %}
</table>

{% endblock %}
