<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Agglomerate 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120902

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
<link href="/media/css/default.css" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="/media/javascript/learning.js"></script>


<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="wrapper" class="container">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Quantcast Finance DB</a></h1>
			<p>Template Design by <a href="http://www.freecsstemplates.org">FCT</a></p>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#">Homepage</a></li>
				<li><a href="/learning/">Javascript Practice</a></li>
				<li><a href="/time/">Date and Time</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
<!--	<div id="banner"><img src="/media/images/spikyflower.jpg" width="1100" height="500" alt="" /></div>  -->
	<div id="page">
		<div id="content">
			<div id="cbox1">
				<h2>This website was built using Django, python, and javascript</h2>
				<p><img src="/media/images/IQ.png" width="750" height="200" alt="" /></p>				
				<p>Rachel works at <strong><a href="http://www.quantcast.com">Quantcast</a> </strong>, a web measurement and advertising company .   She enjoys learning new things, particularly about math, computers, and data. </p>
				<p> </p>
				<p><a href="#" class="link-style">Read More</a></p>
			</div>
			<div id="two-column">
				<div id="tbox1">
					<h2>Database</h2>
					<ul class="style2">
						<li class="first">
							<h3><a href="#">Will have references about advertisers</a></h3>
							<p><a href="#">including parent agencies</a></p>
						</li>
						<li>
							<h3><a href="#">Campaign info</a></h3>
							<p><a href="#">Each advertiser may have several campaigns running</a></p>
						</li>
						<li>
							<h3><a href="#">Revenue</a></h3>
							<p><img src="/media/images/wiredQC.gif" width="350" height="65" alt="" /></p>
						</li>
					</ul>
				</div>
				<div id="tbox2">
					<h2>Javascript is quite powerful</h2>
					<ul class="style2">
						<li class="first">
							<h3><p id="demo">Quantcast: Measure + Advertise</p>
							</h3>
							<p><button type="button" onclick="displayDate('demo')">Date and Time</button></p>
						</li>
						<li>
							<h3>Still learning the basics...</a></h3>
							<p> <button type="button" onclick="welcome('demo')">Say Hello</button> </p>
						</li>
						<li>
							<h3></h3>
								<p> </p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="sidebar">
			<div id="box1">
				<h2>Numbers</h2>
				<ul class="style1">
					<li class="first"><p>Please input a number.</p></li>
					<li><input id="d2" type="text"> <button type="button" onclick="myFunction('d2')">Submit</button> </li>
					<li><img src="/media/images/konrad.jpg" width="225" height="150" alt=""></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<p><a href="#" class="link-style">Read More</a></p>
			</div>
			<div id="box2">
				<h2>Quantcast</h2>
				<ul class="style3">
					<li class="first"><img src="/media/images/alpha_stamp.png" width="78" height="78" alt="">
						<p>Testing. </p>
						<p class="posted">October 28, 2002  |  (10 )  Comments</p>
					</li>
					<li><img src="/media/images/konrad-feldman.jpg" width="78" height="78" alt="">
						<p>San Francisco is the best city. </p>
						<p class="posted">October 21, 2002  |  (10 )  Comments</p>
					</li>
				</ul>
				<p><a href="#" class="link-style">Read More</a></p>
			</div>
		</div>
	</div>
	<div id="footer">
		<p>Copyright (c) 2012 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org">FCT</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>.</p>
	</div>
</div>
</body>
</html>
