<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
<link href="/media/css/default.css" rel="stylesheet" type="text/css" media="all" />
<!--<!DOCTYPE html> 
<html>
<head>-->
	
<script type="text/javascript" src="/media/javascript/learning.js"></script>

</head>
<body>

<h1>Practicing JavaScript</h1>
<p id="demo">Quantcast: Measure + Advertise</p>

<button type="button" onclick="displayDate('demo')">Date and Time</button>

<button type="button" onclick="welcome('demo')">Say Hello</button>

<p>Please input a number.</p>
<p> <input id="d2" type="text"> <button type="button" onclick="myFunction('d2')">Submit</button> </p>
	
<p>
<img id="myimage" onclick="changeImage('myimage')"
src="/media/images/wiredQC.gif" width="500" height="70">
</p>





</body>
</html> 