
td, th {
    font-size: 11px;
    line-height: 13px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;    
    vertical-align: top;
    padding: 5px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}