<form class="form-horizontal">
  <div class="control-group">	
 <label class="control-label" for="campaign"> Campaign: </label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Email">
    </div>
  </td><td>
      <input ui-select2="version3campaign" ng-model="Campaign.campaign" /> </td></tr>
        <!-- <select ui-select2="version3campaign" ng-model="campaign" style="width:200px" name="cCampaign" required></select> --><br>
<tr> <td>  Type: </td><td>
      	<!-- <select ui-select2="version3" ng-model="type" style="width:200px" 
      	ng-options="type.fields.id as type.fields.type for type in types"></select>  -->
      <input ui-select2="version3type" ng-model="Campaign.type"  /> </td></tr>
<!--      	<select ng-model="type" ng-options="type.fields.id as type.fields.type for type in types"></select> <br> -->
<tr> <td> Product: </td><td>
      <input ui-select2="version3product" ng-model="Campaign.product"  /> </td></tr>
<tr> <td> Channel: </td><td>
      <input ui-select2="version3channel" ng-model="Campaign.channel" /> </td></tr>
<tr> <td> Rep: </td><td>
      <input ui-select2="version3rep" ng-model="Campaign.rep"  /> </td></tr>
<tr> <td> CPA/CPM: </td><td>
      <input ui-select2="version3CP" ng-model="Campaign.cp" /> </td></tr>
</table>
      
<button ng:click="save()" class="btn"> Create Campaign </button>
